<footer class="footer">
  <div class="contenedor-footer">
    <p>¡Gracias por visitar nuestra aplicación!</p>
    <p>Desarrollado por Andres Cruz y Carlos Marquez para Programación III.</p>
    <p class="copyright">&copy; 2025 Punto Lector</p>
  </div>
</footer>
